@model _08042019_MVC.Models.Urunler

@{
    ViewBag.Title = "Ürün Sil";
}

<h2>Ürün Sil</h2>

<div>
    <h4>Ürünler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Ürün Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            Ürün Açıklaması
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklamasi)
        </dd>

        <dt>
            Fiyatı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyati)
        </dd>

        <dt>
           Kategori
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

    </dl>

    <h5>Ürünü silmek istediğinize emin misiniz?</h5>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye dön", "Index")
        </div>
    }
</div>
