@helper SpanError(string hataID, string hataTanimi)
{<span class="field-validation-error" data-valmsg-for="@hataID" data-valmsg-replace="true">@hataTanimi</span>}

@helper Button(string id, string text)
{
    <button id="@id" name="@id">@text</button>
}

@helper Button(string id, string text, object sinif)
{
    <button id="@id" name="@id" class="@sinif">@text</button>
}